* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
  background-color: #121212;
}

.container {
  background-color: #1a1a1a;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}

h1,
h2 {
  margin-bottom: 10px;
}

#empty-cart {
  margin-bottom: 10px;
}

.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  background-color: #4e4b4b;
  padding: 10px;
  border-radius: 5px;
}

.product button {
  background-color: #6200ea;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.product button:hover {
  background-color: #3700b3;
}

#cart-items {
  margin-bottom: 20px;
}

#cart-total {
  text-align: right;
}

#checkout-btn {
  background-color: #6200ea;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#checkout-btn:hover {
  background-color: #3700b3;
}

.hidden {
  display: none;
}
